/*basic styling page*/

html{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.2;
    height:100%;
    margin:0;
    font-size:1em;
}
body{
    margin-bottom:90px;  /*important adding this margin if use "sticky footer" in bootstrap otherwise some content might get covered by footer space */
    background-image:url("../images/waterBG.jpg") ;
    /* background-image:url("../images/circles-dark.png"); */
    min-height:100%;
    color:white;
}
.left{
    margin-right: 2% !important;

}
.rigtht{
    margin-left: 2%  !important;
     
}

h1{
    font-size:2.8em;
    color:white;
}
h2{
    font-size:2.5em;
    color:#66bce4;
}
h4{
    font-size:1.8em ;
    color:orange;
}
img{
    max-block-size: 230px;
    float:left;
    padding-right:1em;
}
.footer{
    clear: both;
    height:80px;
    background-color: dimgrey;
    border-top: 8px solid #66bce4;
    padding-top: 30px;
    text-align:center;
    font-size: 1em;
}
  

/* adjust bootstrap elements to mimic the assignment format*/
.header{
    text-align: center;
    margin: 0 auto;
    padding: 0.3em 0;
    background-color: dimgrey;
    border: 0.3em solid #66bce4;
}
.row{
    padding:0.8em;
    margin-top: 1em;
    background-color:rgba(211, 211, 211, 0.89)
}
.col-md-4 > .jumbotron {
    height:330px;
}
.col-sm-12 > .jumbotron {
    height:100px;
}
.jumbotron {
    /* background-image:url("../images/water.jpg");  */
    padding:1em;
    box-shadow: 0.11em 0.11em rgb(146, 146, 146);
    /* background-color:#39687e!important; */
}
.container{
    min-height:100%;
    background-image:url("../images/water.jpg"); 
}





